<h1>Loops</h1>

<h3>Here are all the Kardashians</h3>

<ul>
  <% kardashians.forEach( function(kardashian) { %>
    <li>
      <%= kardashian %>
    </li>
  <% }); %>
</ul>

<a href='/loops-louder'>A little louder?</a>
<a href='/loops-quieter'>A little quieter?</a>
